[submodule "control/tracikpy"]
	path = control/tracikpy
	url = https://github.com/Star-Cheng/tracikpy.git
	branch = main
[submodule "mujoco"]
	path = control/mujoco
	url = https://github.com/Star-Cheng/mujoco.git
	branch = master
[submodule "livox_ros_driver"]
	path = record_py/scripts/src/livox_ros_driver
	url = https://github.com/Star-Cheng/livox_ros_driver.git
	branch = master
[submodule "livox_ros_driver2"]
	path = record_py/scripts/src/livox_ros_driver2
	url = https://github.com/Star-Cheng/livox_ros_driver2.git
	branch = master
[submodule "nlopt"]
	path = record_py/scripts/nlopt
	url = https://github.com/star-cheng/nlopt.git
	branch = master
[submodule "MNN"]
	path = unitree/robocup_g1/unitree_guide/thirdParty/MNN
	url = https://github.com/alibaba/MNN.git
	branch = master
[submodule "yaml-cpp"]
	path = unitree/robocup_g1/unitree_guide/thirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = master
