[submodule "control/tracikpy"]
	path = control/tracikpy
	url = https://github.com/Star-Cheng/tracikpy.git
	branch = main
[submodule "mujoco"]
	path = control/mujoco
	url = https://github.com/Star-Cheng/mujoco.git
	branch = master
[submodule "livox_ros_driver"]
	path = record_py/scripts/src/livox_ros_driver
	url = https://github.com/Star-Cheng/livox_ros_driver.git
	branch = master
[submodule "livox_ros_driver2"]
	path = record_py/scripts/src/livox_ros_driver2
	url = https://github.com/Star-Cheng/livox_ros_driver2.git
	branch = master
[submodule "nlopt"]
	path = record_py/scripts/nlopt
	url = https://github.com/star-cheng/nlopt.git
	branch = master
