<launch>
  <!-- 启动 octomap_server -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <!-- 坐标系设置（建议与相机一致） -->
    <param name="frame_id" type="string" value="base_link" />
    
    <!-- 分辨率设置（0.01-0.05米为宜） -->
    <param name="resolution" value="0.05" />
    
    <!-- 直接订阅相机点云话题 -->
    <remap from="cloud_in" to="/kinect2/sd/points" />
    
    <!-- 过滤参数（减少噪点） -->
    <param name="sensor_model/max_range" value="10.0" />  <!-- 最大探测距离 -->
    <param name="latch" value="false" />  <!-- 实时更新 -->
  </node>
  <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find pointcloud_publisher)/rviz/OctomapShow.rviz"/>
</launch>