<launch>
  <!-- 使用直接的urdf文件路径 -->
  <arg name="model" default="$(find tiangong_description)/urdf/arm.urdf"/>

  <!-- 直接加载URDF内容 -->
  <param name="robot_description" command="cat $(arg model)"/>

  <!-- 机器人状态发布 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- RViz启动，加载配置（可选，或者空） -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiangong_description)/rviz/tiangong.rviz"/> -->
</launch>