<!-- 该启动文件用于配置Velodyne VLP-16 LiDAR的参数和节点 -->
<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <!-- 设置是否启动RViz，默认为true -->
    <arg name="rviz" default="true" />

    <!-- 加载Fast LIO的配置文件 -->
    <rosparam command="load" file="$(find fast_lio)/config/velodyne.yaml" />

    <!-- 配置Fast LIO的参数 -->
    <!-- 关闭特征提取功能 -->
    <param name="feature_extract_enable" type="bool" value="0"/>
    <!-- 设置点云过滤后的点数，默认为4 -->
    <param name="point_filter_num" type="int" value="4"/>
    <!-- 设置最大迭代次数，默认为3 -->
    <param name="max_iteration" type="int" value="3" />
    <!-- 设置表面滤波的尺寸，默认为0.5 -->
    <param name="filter_size_surf" type="double" value="0.5" />
    <!-- 设置地图滤波的尺寸，默认为0.5 -->
    <param name="filter_size_map" type="double" value="0.5" />
    <!-- 设置立方体边长，默认为1000米 -->
    <param name="cube_side_length" type="double" value="1000" />
    <!-- 关闭运行时位置日志功能 -->
    <param name="runtime_pos_log_enable" type="bool" value="0" />

    <!-- 启动Fast LIO的点云映射节点 -->
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <!-- 如果启动RViz，则启动RViz显示界面 -->
    <group if="$(arg rviz)">
        <!-- 使用nice命令优化RViz的性能 -->
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>